
.button_1 {
    border: none;
    position: relative;
    border-radius: 7px;
    padding: 50px 75px;
    background: #ff9900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.button_2 {
    border: none;
    position: relative;
    border-radius: 7px;
    padding: 50px 75px;
    background: #ff9900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}


body{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://forums-images.oneplus.net/attachments/15/15313-4aa879d943353082fc07627377f4c5da.jpg);
}